# ══════════════════════════════════════════════════════════════════════
# Ref: https://wiki.archlinux.org/title/Uniform_look_for_Qt_and_GTK_applications
# Ref: https://wiki.archlinux.org/title/Dark_mode_switching
# Ref: https://wiki.archlinux.org/title/Qt
# Ref: https://wiki.archlinux.org/title/GTK
# Ref: https://wiki.archlinux.org/title/HiDPI
# ══════════════════════════════════════════════════════════════════════
# Ref: https://docs.gtk.org/gtk3/class.Settings.html
# Ref: https://docs.gtk.org/gtk4/class.Settings.html
# ══════════════════════════════════════════════════════════════════════
# To find all similar keys on schema type following command:
# ❯ gsettings list-recursively org.gnome.desktop.interface
# ──────────────────────────────────────────────────────────────────────
# To reset all valuses of keys run following command in terminal:
# ❯ gsettings reset-recursively org.gnome.desktop.interface
#  ──────────────────────────────────────────────────────────────────────
# To get a description and allowed values for a specific key:
# ❯ gsettings describe org.gnome.desktop.interface color-scheme
# ──────────────────────────────────────────────────────────────────────
# To change the value of a specific key (e.g., changing the GTK theme):
# ❯ gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3-dark'
# ══════════════════════════════════════════════════════════════════════
# QT_QPA_PLATFORMTHEME=gtk3
[Unit]
Description=Apply GTK/dconf settings (first run only)
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface icon-theme 'Adwaita'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface font-name 'Adwaita Sans 11'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface document-font-name 'Adwaita Sans 12'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface monospace-font-name 'Adwaita Mono 11'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface font-antialiasing 'grayscale'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface font-hinting 'slight'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface font-rendering 'automatic'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface font-rgba-order 'rgba'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface enable-animations false
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface gtk-enable-primary-paste false
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface overlay-scrolling true
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface scaling-factor uint32 0
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface text-scaling-factor 1.0
ExecStart=/usr/bin/gsettings set org.gnome.desktop.interface toolbar-icons-size 'small'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.wm.preferences button-layout 'appmenu:minimize,maximize,close'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.wm.preferences disable-workarounds true
ExecStart=/usr/bin/gsettings set org.gnome.desktop.input-sources xkb-model 'chromebook'
ExecStart=/usr/bin/gsettings set org.gnome.desktop.input-sources sources "[('xkb', 'us'), ('xkb', 'ru')]"
ExecStart=/usr/bin/gsettings set org.gnome.desktop.input-sources xkb-options "['grp:alt_shift_toggle', 'compose:ralt']"
ExecStartPost=/usr/bin/systemctl --user disable %n
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
