# Пример: https://github.com/niri-wm/niri/wiki/Example-systemd-Setup
[Unit]
Description=Wallpaper tool for Wayland compositors
Documentation=man:swaybg(1)
# Stop and restart the service whenever the specific graphical session stops or restarts
# Enable only on Sway, Mango, Niri
PartOf=wayland-session@sway.desktop.target
PartOf=wayland-session@mango.desktop.target
PartOf=wayland-session@niri.desktop.target
# Start the service strictly after the specific session has fully initialized
# Enable only on Sway, Mango, Niri
After=wayland-session@sway.desktop.target
After=wayland-session@mango.desktop.target
After=wayland-session@niri.desktop.target

[Service]
Type=exec
ExecStart=/bin/sh -c 'exec swaybg --image "$(find %h/Pictures/Wallpapers -type f | shuf -n 1)" --mode fill'
Restart=on-failure
Slice=background-graphical.slice

[Install]
# Enable auto-start by creating symlinks in the .wants/ directory of these specific targets
# Enable only on Sway, Mango, Niri
WantedBy=wayland-session@sway.desktop.target
WantedBy=wayland-session@mango.desktop.target
WantedBy=wayland-session@niri.desktop.target
