[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors.
Documentation=man:waybar(5)
# Start only when specific Wayland session targets are active
After=wayland-session@sway.desktop.target
After=wayland-session@labwc.desktop.target
After=wayland-session@mangowc.desktop.target
After=wayland-session@niri.desktop.target

[Service]
Type=exec
ExecStart=waybar --log-level
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=wayland-session@sway.desktop.target
WantedBy=wayland-session@labwc.desktop.target
WantedBy=wayland-session@mangowc.desktop.target
WantedBy=wayland-session@niri.desktop.target
