[Desktop Entry]
Type=Application
Name=Pragtical
Comment=The practical and pragmatic code editor.
Icon=pragtical
Exec=env SDL_VIDEO_WAYLAND_SCALE_TO_DISPLAY=1 PRAGTICAL_RENDERER=sdlgpu -- pragtical %F
Terminal=false
MimeType=text/plain;inode/directory;
Categories=Development;IDE;TextEditor;
StartupWMClass=dev.pragtical.Pragtical
