[Desktop Entry]
Type=Application
Name=Hyprpicker
GenericName=Color Picker
Comment=A wlroots-compatible Wayland color picker that does not suck
Icon=applications-graphics
Exec=hyprpicker --autocopy --notify --no-fractional
Terminal=false
Categories=Graphics;Utility;
Keywords=color;colour;picker;palette;
StartupNotify=false
