[Desktop Entry]
Type=Application
Name=Blueman Applet
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=blueman-applet
Terminal=false
Categories=GTK;GNOME;Settings;HardwareSettings;
Hidden=true
