[Desktop Entry]
Type=Application
Name=Geoclue Demo agent
GenericName=Demo geoclue agent
NoDisplay=true
Icon=mark-location-symbolic
NotShowIn=GNOME;
Exec=/usr/lib/geoclue-2.0/demos/agent
Terminal=false
Keywords=geolocation;
Hidden=true
