[Desktop Entry]
Type=Application
Name=iwgtk
Comment=Wireless network management utility
Icon=iwgtk
NoDisplay=true
Exec=iwgtk -i
Terminal=false
Categories=GTK;Settings;HardwareSettings;
Hidden=true
