/* Catppuccin Mocha Pallete */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;
@define-color text   #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color blue   #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky    #89dceb;
@define-color teal   #94e2d5;
@define-color green  #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach  #fab387;
@define-color maroon #eba0ac;
@define-color red    #f38ba8;
@define-color mauve  #cba6f7;
@define-color pink   #f5c2e7;
@define-color rosewater #f5e0dc;

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.9); /* Base with transparency */
    color: @text;
}

/* Общие стили для модулей */
#custom-launcher,
#ext-workspaces,
#custom-explorer,
#custom-terminal,
#custom-editor,
#custom-browser,
#taskbar,
#tray,
#pulseaudio,
#network,
#battery,
#backlight,
#bluetooth,
#clock,
#gamemode,
#idle_inhibitor,
#custom-clip,
#custom-snip,
#custom-calculator,
#custom-settings,
#custom-task-manager,
#custom-show-desktop {
    padding: 0 6px;
}

/* Launcher */
#custom-launcher:hover {
    background: @surface0;
    font-size: 16;
    color: @blue;
    margin-left: 16px;
    background: @surface0;
}

#custom-browser {
    font-size: 14px;
    font-family: "Font Awesome 7 Free";
}

/* Workspaces */
#workspaces button {
    color: @blue;
    font-size: 200px;
    font-family: "Font Awesome 7 Free";
}

/* Taskbar (Center) */
#taskbar button {
    padding: 0 8px;
    border-bottom: 2px solid transparent;
}

#taskbar button.active {
    background: @surface1;
    border-radius: 8px;
    border-bottom: 2px solid @mauve;
}

/* Groups and Drawers */
.drawer-child {
    background: @surface0;
}

#group-apps,
#group-tools,
#group-modules {
    background: @surface0;
    border-radius: 8px;
    margin: 4px;
    padding: 0 5px;
}

/* Right Side Modules */
#pulseaudio {
    color: @yellow;
}
#network {
    color: @teal;
}
#battery {
    color: @green;
}
#battery.warning {
    color: @peach;
}
#battery.critical {
    color: @red;
}
#clock {
    color: @lavender;
}

#backlight {
    color: @peach;
}
#bluetooth {
    color: @blue;
}

/* Tooltips */
tooltip {
    background: @base;
    border: 1px solid @mauve;
    border-radius: 10px;
}

tooltip label {
    color: @text;
    padding: 8px;
}

/* Arrows */
#custom-arrow-right,
#custom-arrow-left {
    color: @subtext0;
    font-size: 12px;
    border-radius: 0px;
}

/* Show Desktop (Bottom Right) */
#custom-show-desktop {
    color: @blue;
    padding-right: 12px;
    font-size: 18px;
}
