# https://specifications.freedesktop.org/desktop-entry-spec/latest/
# https://specifications.freedesktop.org/notification-spec/latest/
# https://develop.kde.org/docs/apps/dolphin/service-menus/
# mkdir -p ~/.local/share/kio/servicemenus/
# touch ~/.local/share/kio/servicemenus/7z-compress.sh
# chmod +x ~/.local/share/kio/servicemenus/7zip-compress.desktop
# 'Exec=~/.local/bin/7z-compress.sh -pack7z %F 2> ~/debug.log' for debug

[Desktop Entry]
Icon=application-x-archive
Terminal=false
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/allfiles;inode/directory;
Actions=pack7z;pack7zMax;pack7zPass;packTarGz;packZip;
X-KDE-Submenu=Compress 7z
X-KDE-Submenu[ru]=Упаковать 7z
X-KDE-Priority=TopLevel

[Desktop Action pack7z]
Name=Compress to .7z
Name[ru]=Упаковать в .7z
Icon=application-x-archive
Exec=~/.local/bin/7z-compress.sh -pack7z %F

[Desktop Action pack7zMax]
Name=Compress to .7z (max compression)
Name[ru]=Упаковать в .7z (макс. сжатие)
Icon=application-x-archive
Exec=~/.local/bin/7z-compress.sh -pack7zMax %F

[Desktop Action pack7zPass]
Name=Compress to .7z (with password)
Name[ru]=Упаковать в .7z (с паролем)
Icon=application-x-archive
Exec=~/.local/bin/7z-compress.sh -pack7zPass %F

[Desktop Action packTarGz]
Name=Compress to .tar.gz
Name[ru]=Упаковать в .tar.gz
Icon=application-x-gzip
Exec=~/.local/bin/7z-compress.sh -packTarGz %F

[Desktop Action packZip]
Name=Compress to .zip
Name[ru]=Упаковать в .zip
Icon=application-zip
Exec=~/.local/bin/7z-compress.sh -packZip %F
