# =============================================
# ❯ man sudoedit
# =============================================
# Задать переменные окружения для sudoedit | sudo -e;
# Определяет редактор: сначала из ENV (SUDO_EDITOR, VISUAL, EDITOR);
# Иначе — первый из списка 'editor' в настройках sudoers, если они не заданы — берётся editor из sudoers;
# =============================================
# Для GUI-приложений обязательно указывать флаг ожидания --wait (напр. SUDO_EDITOR="zeditor --wait" | SUDO_EDITOR="code --wait");
# Иначе sudo удалит временный файл до сохранения правок;
# =============================================
# Флаг -A (askpass): использует внешнюю программу для запроса пароля (напр. SUDO_ASKPASS="${HOME}/.local/bin/fuzzel-askpass.sh");
# 1. Если задано SUDO_ASKPASS — берем путь из переменной;
# 2. Иначе — ищем строку 'Path askpass' в sudo.conf;
# 3. Если программа не найдена — ошибка;
# =============================================
[Desktop Entry]
Type=Action
Icon=text-editor
Name=Edit as root (sudoedit)
Name[de]=Als Root bearbeiten (sudoedit)
Name[es]=Editar como root (sudoedit)
Name[fr]=Éditer en tant que root (sudoedit)
Name[pt]=Editar como root (sudoedit)
Name[ru]=Редактировать от root (sudoedit)
Profiles=profile-zero;

[X-Action-Profile profile-zero]
SelectionCount==1
MimeTypes=text/plain;
Exec=sudoedit -A %f
Name=Default profile
