# =============================================
#    Networkd ethernet config
# =============================================
# Ref: https://wiki.archlinux.org/title/Systemd-networkd
# Ref: https://www.freedesktop.org/software/systemd/man/latest/systemd.network.html
# Ref: https://man.archlinux.org/man/systemd.network.5
# =============================================
# → Настройка:
# → 1. Отключаем NM и wpa_supplicant, далее включаем iwd, networkd и resolved:
# → 2. Настраиваем /etc/resolv.conf для systemd-resolved:
# sudo systemctl disable --now NetworkManager wpa_supplicant && sudo systemctl enable --now iwd systemd-networkd systemd-resolved
# sudo ln -sf /run/systemd/resolve/stub-resolv.conf /etc/resolv.conf
# =============================================
[Match]
Name=en*
Type=ether

[Link]
# Уменьшаем MTU для L2TP/PPPoE (можно использовать 1460)
MTUBytes=1460

[Network]
# Включаем DHCPv4 и разрешаем DHCPv6
DHCP=yes
# Включаем приём Router Advertisements (нужно для IPv6 SLAAC)
IPv6AcceptRA=yes
# Включаем временные IPv6-адреса (для приватности)
IPv6PrivacyExtensions=true
# Режим генерации IPv6 link-local адреса
IPv6LinkLocalAddressGenerationMode=stable-privacy
# Отключаем ненужные службы разрешения имён
LLMNR=false
MulticastDNS=false
DNSOverTLS=false
DNSSEC=false
# =============================================
# → DNS Cloudflare с Malware Blocking IPv4|IPv6 (primary → secondary)
# =============================================
# IPv4 DNS
#DNS=1.1.1.2
#DNS=1.0.0.2
# IPv6 DNS
#DNS=2606:4700:4700::1112
#DNS=2606:4700:4700::1002

[DHCPv4]
# =============================================
# → [UseDNS=false] = Отключить использование DNS от DHCPv4. | Т.е использовать DNS указанные выше в [Network]. Указать это при установке кастомных DNS серверов (напр. Cloudflare)
# → [UseDNS=true] = Значение по умолчанию. | Т.е использовать DNS полученные от DHCPv4
# =============================================
UseDNS=true
# Более низкая/приоритетная метрика, чем у Wifi
RouteMetric=100

[DHCPv6]
UseDNS=true
RouteMetric=100

[IPv6AcceptRA]
UseDNS=true
RouteMetric=100
