# =============================================
#    Networkd ethernet config
# =============================================
# Ref: https://wiki.archlinux.org/title/Systemd-networkd
# Ref: https://www.freedesktop.org/software/systemd/man/latest/systemd.network.html
# Ref: https://man.archlinux.org/man/systemd.network.5
# Ref: https://wiki.archlinux.org/title/Iwd
# Ref: https://man.archlinux.org/man/extra/iwd/iwd.config.5.en
# =============================================
# → Настройка:
# → 1. Отключаем NM и wpa_supplicant, далее включаем iwd, networkd и resolved:
# → 2. Настраиваем /etc/resolv.conf для systemd-resolved:
# sudo systemctl disable --now NetworkManager wpa_supplicant && sudo systemctl enable --now iwd systemd-networkd systemd-resolved
# sudo ln -sf /run/systemd/resolve/stub-resolv.conf /etc/resolv.conf
# =============================================
[Match]
Name=wl*
Type=wlan

[Link]
# Уменьшаем MTU для L2TP/PPPoE (можно использовать 1460)
MTUBytes=1460
# Примечание для IWD. iwd содержит встроенный DHCP-клиент и может управлять маршрутизацией и разрешением DNS-запросов.
# Раскоментируйте строку ниже
# Unmanaged=yes
# В таком случае networkd не будет вмешиваться в этот интерфейс.
# Далее:
# Cоздайте или отредактируйте /etc/iwd/main.conf:
# [General]
# EnableNetworkConfiguration=true
# Тогда iwd будет самостоятельно назначать IP-адреса и маршруты.

[Network]
# Включаем DHCPv4 и разрешаем DHCPv6
DHCP=yes
# Включаем приём Router Advertisements (нужно для IPv6 SLAAC)
IPv6AcceptRA=yes
# Включаем временные IPv6-адреса (для приватности)
IPv6PrivacyExtensions=true
# Режим генерации IPv6 link-local адреса
IPv6LinkLocalAddressGenerationMode=stable-privacy
# Отключаем ненужные службы разрешения имён
LLMNR=false
MulticastDNS=false
DNSSEC=false
# Игнорировать кратковременную потерю связи
IgnoreCarrierLoss=3s

[DHCPv4]
# Более высокая метрика, чем у Ethernet
RouteMetric=600

[IPv6AcceptRA]
RouteMetric=600

[DHCPv6]
RouteMetric=600

# Включение планировщика FQ для Wifi интерфейса. По умолчанию не включен. Проверить через: ❯ ip a 
# Для Ethernet по умолчанию используется FQ_CODEL
[FairQueueing]
# Пустая секция – будут использованы значения ядра по умолчанию
# Можно добавить Pacing:
Pacing=true
