# =============================================
# Ref: https://wiki.archlinux.org/title/Power_management#USB_autosuspend
# =============================================
# whitelist for usb autosuspend
ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{idVendor}=="05c6", ATTR{idProduct}=="9205", ATTR{power/control}="auto"
