# /etc/udev/rules.d/99-battery-threshold.rules
# ══════════════════════════════════════════════════════════════════════
# Устанавливаем порог начала зарядки (нижний):
# ❯ echo 60 | sudo tee /sys/class/power_supply/BAT0/charge_control_start_threshold
#
# Устанавливаем порог прекращения зарядки (верхний):
# ❯ echo 80 | sudo tee /sys/class/power_supply/BAT0/charge_control_end_threshold
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Это можно реализовать через Systemd Unit:
# ──────────────────────────────────────────────────────────────────────
#[Unit]
#Description=Set battery charge threshold on boot
#After=multi-user.target
#
#[Service]
#Type=oneshot
#ExecStart=/bin/echo 80
#StandardOutput=file:/sys/class/power_supply/BAT0/charge_control_end_threshold
#
#[Install]
#WantedBy=multi-user.target
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Но через udev rules надежнее, т.к мы используем событийный подход 
# Note: Добавление ACTION=="add|change" обязательно из-за race condition, когда устройство еще готово, а udev уже пытается присвоть значения параметрам:
# (udev-worker)[707]: BAT0: /etc/udev/rules.d/99-battery-threshold.rules:29 ATTR{charge_control_start_threshold}="60": Could not chase sysfs attribute "/sys/devices/LNXSYSTM:00/.../power_supply/BAT0/charge_control_start_threshold", ignoring: No such file or directory
# (udev-worker)[707]: BAT0: /etc/udev/rules.d/99-battery-threshold.rules:29 ATTR{charge_control_end_threshold}="80": Could not chase sysfs attribute "/sys/devices/LNXSYSTM:00/.../power_supply/BAT0/charge_control_end_threshold", ignoring: No such file or directory
# ──────────────────────────────────────────────────────────────────────
ACTION=="add|change", SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{charge_control_start_threshold}="60", ATTR{charge_control_end_threshold}="80"
# ──────────────────────────────────────────────────────────────────────
#
# ══════════════════════════════════════════════════════════════════════
# Как найти параметры для udev:
# ❯ udevadm info -a -p /sys/class/power_supply/BAT0
# ──────────────────────────────────────────────────────────────────────
# Он покажет все атрибуты устройства и его родителей в готовом для udev-правил формате:
# ──────────────────────────────────────────────────────────────────────
#  looking at device '/devices/LNXSYSTM:00/.../po>
#    KERNEL=="BAT0"
#    SUBSYSTEM=="power_supply"
#    ATTR{capacity}=="39"
#    ATTR{charge_behaviour}=="[auto] inhibit-charge force-discharge"
#    ATTR{charge_control_end_threshold}=="80"
#    ATTR{charge_control_start_threshold}=="60"
#    ATTR{type}=="Battery"
#    ...
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Применение правил без перезагрузки:
# ──────────────────────────────────────────────────────────────────────
# sudo udevadm control --reload-rules
# sudo udevadm trigger --subsystem-match=power_supply
# ──────────────────────────────────────────────────────────────────────
# Проверка:
# ──────────────────────────────────────────────────────────────────────
# cat /sys/class/power_supply/BAT0/charge_control_start_threshold
# cat /sys/class/power_supply/BAT0/charge_control_end_threshold
# sudo udevadm test /sys/class/power_supply/BAT0 2>&1 | grep -i "threshold\|error\|warning"
# ══════════════════════════════════════════════════════════════════════
