# /etc/udev/rules.d/99-battery-threshold.rules
# ══════════════════════════════════════════════════════════════════════
# Устанавливаем порог начала зарядки (нижний):
# ❯ echo 40 | sudo tee /sys/class/power_supply/BAT0/charge_control_start_threshold
#
# Устанавливаем порог прекращения зарядки (верхний):
# ❯ echo 80 | sudo tee /sys/class/power_supply/BAT0/charge_control_end_threshold
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Это можно реализовать через Systemd Unit:
# ──────────────────────────────────────────────────────────────────────
#[Unit]
#Description=Set battery charge threshold on boot
#After=multi-user.target
#
#[Service]
#Type=oneshot
#ExecStart=/bin/echo 80
#StandardOutput=file:/sys/class/power_supply/BAT0/charge_control_end_threshold
#
#[Install]
#WantedBy=multi-user.target
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Но через udev rules надежнее, т.к мы используем событийный подход
# ──────────────────────────────────────────────────────────────────────
SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{charge_control_end_threshold}="80"
# ──────────────────────────────────────────────────────────────────────
#
# ══════════════════════════════════════════════════════════════════════
# Как найти параметры для udev:
# ❯ udevadm info -a -p /sys/class/power_supply/BAT0
# ──────────────────────────────────────────────────────────────────────
# Он покажет все атрибуты устройства и его родителей в готовом для udev-правил формате:
# ──────────────────────────────────────────────────────────────────────
# looking at device '/devices/LNXSYSTM:00/.../BAT0':
#    KERNEL=="BAT0"
#    SUBSYSTEM=="power_supply"
#    ATTR{type}=="Battery"
#    ATTR{charge_control_start_threshold}=="40"
#    ATTR{charge_control_end_threshold}=="80"
#    ATTR{capacity}=="75"
#    ...
# ══════════════════════════════════════════════════════════════════════
#
# ══════════════════════════════════════════════════════════════════════
# Также дополнительно можно задать нижний порог заряда батареи: 
# ──────────────────────────────────────────────────────────────────────
# ACTION=="add|change", SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{charge_control_start_threshold}="40", ATTR{charge_control_end_threshold}="80"
# SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{charge_control_start_threshold}="40", ATTR{charge_control_end_threshold}="80"
# ══════════════════════════════════════════════════════════════════════
# Применение правил без перезагрузки:
# ──────────────────────────────────────────────────────────────────────
# sudo udevadm control --reload-rules
# sudo udevadm trigger --subsystem-match=power_supply
# ──────────────────────────────────────────────────────────────────────
# Проверка:
# cat /sys/class/power_supply/BAT0/charge_control_start_threshold
# cat /sys/class/power_supply/BAT0/charge_control_end_threshold
# ══════════════════════════════════════════════════════════════════════
