# =============================================
# www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
# =============================================
# → Installation: 
# → Create the service file: sudo nano /etc/systemd/system/battery-threshold.service
# =============================================
# → Reload systemd and enable/start the 'battery-threshold.service' immediately:
# sudo systemctl daemon-reload
# sudo systemctl enable --now battery-threshold.service
# =============================================
[Unit]
Description=Set battery charge threshold on boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/battery-threshold

[Install]
WantedBy=multi-user.target
