# =============================================
# www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
# =============================================
# → Installation: 
# → Create the service file: sudo nano /etc/systemd/system/intel-pstate-tuning.service
# =============================================
# → Reload systemd and enable/start the 'intel-pstate-tuning.service' immediately:
# sudo systemctl daemon-reload
# sudo systemctl enable --now intel-pstate-tuning.service
# =============================================
[Unit]
Description=Set custom Intel P-State settings on boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=$HOME/.local/bin/intel-pstate-default.sh

[Install]
WantedBy=multi-user.target
