# https://specifications.freedesktop.org/desktop-entry-spec/latest/
# mkdir -p ~/.local/share/kio/servicemenus/
# touch ~/.local/share/kio/servicemenus/7z_extract.desktop
# chmod -R +x ~/.local/share/kio/servicemenus/7z_extract.desktop

[Desktop Entry]
Type=Service
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-7z-compressed;application/zip;application/x-tar;application/gzip;application/x-bzip2;application/x-xz;application/x-rar-compressed;application/x-iso9660-image;application/x-rpm;application/x-apple-diskimage;application/x-qemu-disk;application/x-vmdk-diskimage;application/x-squashfs;application/x-cpio;application/x-archive;application/x-compress;
Actions=extractHere;extractToSubdir;extractTo;extractHerePass;extractToSubdirPass;
X-KDE-Submenu=Extract 7z
X-KDE-Submenu[ru]=Распаковать 7z
X-KDE-Priority=TopLevel
Icon=application-x-archive
Terminal=true

[Desktop Action extractHere]
Name=Extract here
Name[ru]=Извлечь здесь
Icon=application-x-archive
Exec=7z x -aoa %f -o./

[Desktop Action extractToSubdir]
Name=Extract to subfolder
Name[ru]=Извлечь в подпапку
Icon=application-x-archive
Exec=/bin/sh -c 'archive="%f"; dir="${archive%.*}"; 7z x -aoa "%f" -o"$dir"'

[Desktop Action extractTo]
Name=Extract to...
Name[ru]=Извлечь в...
Icon=application-x-archive
Exec=7z x -aoa %f -o"$(zenity --file-selection --directory --title="Select directory to extract")"
