# https://specifications.freedesktop.org/desktop-entry-spec/latest/
# mkdir -p ~/.local/share/kio/servicemenus/
# touch ~/.local/share/kio/servicemenus/7z_extract.desktop
# chmod +x ~/.local/share/kio/servicemenus/7z_extract.desktop

[Desktop Entry]
Icon=application-x-archive
Terminal=true
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=
Actions=extractHere;extractToSubdir;extractTo;#extractHerePass;extractToSubdirPass;
X-KDE-Submenu=Extract 7z
X-KDE-Submenu[ru]=Распаковать 7z
X-KDE-Priority=TopLevel

[Desktop Action extractHere]
Name=Extract here
Name[ru]=Извлечь здесь
Icon=application-x-archive
Exec=$HOME/.local/bin/7z-extract.sh -extractHere %F

[Desktop Action extractToSubdir]
Name=Extract to subfolder
Name[ru]=Извлечь в подпапку
Icon=application-x-archive
Exec=$HOME/.local/bin/7z-extract.sh -extractToSubdir %F

[Desktop Action extractTo]
Name=Extract to...
Name[ru]=Извлечь в...
Icon=application-x-archive
Exec=$HOME/.local/bin/7z-extract.sh -extractTo %F
